* {
  text-align: center;
  font-family: sans-serif;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.3vh;
}

html::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 10%;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #d7e9f7, gray);
}

.the_one_with_the_border {
  border-bottom: solid black 1px;
  padding-bottom: 10%;
}
