@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
  }

  .header {
    background-color: black;
    height: 45px;
    width: 120vw;
    position: fixed;
    z-index: 999999;
  }

  .header ul {
  }

  .header ul li {
    display: inline-flex;
  }

  .header ul li a {
    color: white;
    text-decoration: none;
    margin-right: 4.3vw;
    margin-left: 4.3vw;
    font-size: 1vw;
    font-family: "oswald";
    margin-top: 2vh;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }

  #header_logo {
    position: absolute;
    height: 43px;
    width: 43px;
    margin-left: -20px;
    margin-top: -3.1vh;
  }

  .header ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  #top_button {
    font-size: 25px;
    font-family: "oswald", sans-serif;
    text-decoration: none;
    position: absolute;
    color: black;
    margin-left: 45%;
    background-color: yellow;
    border-radius: 15%;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 20px;
  }

  * {
    text-decoration: none;
  }

  #content {
    padding-top: 100px;
  }

  #start_title {
    margin-left: 50px;
    border-bottom: 1px solid black;
    width: 55%;
  }

  #start img {
    margin-top: 50px;
    height: auto;
    width: 90%;
    margin-left: 4%;
  }

  h1 {
    font-family: oswald;
  }

  #popular_opinion_title {
    margin-left: 50px;
    margin-top: 50px;
    border-right: 1px solid black;
    width: 19%;
    height: 100px;
  }

  #popular_opinion_text {
    text-indent: 45px;
    margin-right: 420px;
  }

  #popular_opinion img {
    height: auto;
    width: 35%;
    float: right;
    border-radius: 10px;
    margin-top: -200px;
    margin-right: 30px;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #popular_opinion_text {
    margin-left: 50px;
    margin-top: 50px;
  }

  #theory_title {
    margin-left: 50px;
    margin-top: 50px;
  }

  #theory_text {
    margin-left: 50px;
    text-indent: 45px;
    margin-top: 50px;
    margin-right: 450px;
  }

  #theory_img {
    float: right;
    margin-top: -500px;
    height: auto;
    margin-right: 150px;
  }

  #possible img {
    float: right;
    border-radius: 10px;
    height: auto;
    width: 40%;
    margin-top: -500px;
    margin-right: 30px;
  }

  #possible {
    margin-left: 50px;
    margin-top: 50px;
  }

  #possible_text {
    text-indent: 45px;
    margin-top: 50px;
  }

  .footer {
    background-color: black;
    margin-top: 10vh;
    height: 100px;
  }

  .footer ul {
    text-align: center;
  }

  .footer ul li {
    display: inline-flex;
    color: white;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-family: cursive;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .footer ul li a {
    text-decoration: none;
    color: white;
  }

  #footer_logo {
    transform: translateY(25%);
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
  }

  .header {
    background-color: black;
    height: 45px;
    width: 144vw;
    max-width: inherit;
    position: fixed;
    z-index: 99999;
  }

  .header ul {
  }

  .header ul li {
    display: inline-flex;
  }

  .header ul li a {
    color: white;
    text-decoration: none;
    margin-right: 1.4vw;
    margin-left: 1.4vw;
    font-size: 1vw;
    font-family: "oswald";
    margin-top: 10px;
    padding-left: 4.3vw;
    padding-right: 4.3vw;
    text-align: center;
  }

  #header_logo {
    position: absolute;
    height: 43px;
    width: 43px;
    margin-left: -20px;
    margin-bottom: 5px;
    margin-top: -3vh;
  }

  .header ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  #top_button {
    font-size: 25px;
    font-family: "oswald", sans-serif;
    text-decoration: none;
    position: absolute;
    color: black;
    margin-left: 45%;
    background-color: yellow;
    border-radius: 15%;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 20px;
  }

  * {
    text-decoration: none;
  }

  #content {
    padding-top: 100px;
  }

  #start_title {
    margin-left: 50px;
    border-bottom: 1px solid black;
    width: 55%;
  }

  #start img {
    margin-top: 50px;
    height: auto;
    width: 90%;
    margin-left: 4%;
  }

  h1 {
    font-family: oswald;
  }

  #popular_opinion_title {
    margin-left: 50px;
    margin-top: 50px;
    border-right: 1px solid black;
    width: 19%;
    height: 100px;
  }

  #popular_opinion_text {
    text-indent: 45px;
    margin-right: 420px;
  }

  #popular_opinion img {
    height: auto;
    width: 30%;
    float: right;
    border-radius: 10px;
    margin-top: -200px;
    margin-right: 100px;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #popular_opinion_text {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 600px;
  }

  #theory_title {
    margin-left: 50px;
    margin-top: 50px;
  }

  #theory_text {
    margin-left: 50px;
    text-indent: 45px;
    margin-top: 50px;
    margin-right: 550px;
  }

  #theory_img {
    float: right;
    margin-top: -400px;
    height: auto;
    margin-right: 150px;
  }

  #possible img {
    float: right;
    border-radius: 10px;
    height: auto;
    width: 35%;
    margin-top: -500px;
    margin-right: 30px;
  }

  #possible {
    margin-left: 50px;
    margin-top: 50px;
  }

  #possible_text {
    text-indent: 45px;
    margin-top: 50px;
  }

  .footer {
    background-color: black;
    margin-top: 10vh;
    height: 100px;
  }

  .footer ul {
    text-align: center;
  }

  .footer ul li {
    display: inline-flex;
    color: white;
    justify-content: space-between;
    padding-left: 42px;
    padding-right: 42px;
    font-family: cursive;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .footer ul li a {
    text-decoration: none;
    color: white;
  }

  #footer_logo {
    transform: translateY(25%);
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 1441px) {
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
  }

  .header {
    background-color: black;
    height: 45px;
    width: 100vw;
    position: fixed;
    z-index: 99999;
  }

  .header ul {
  }

  .header ul li {
    display: inline-flex;
  }

  .header ul li a {
    color: white;
    text-decoration: none;
    margin-right: 1.4vw;
    margin-left: 1.4vw;
    font-size: 1vw;
    font-family: "oswald";
    margin-top: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: center;
    position: relative;
  }

  #header_logo {
    position: absolute;
    height: 43px;
    width: 43px;
    margin-left: -20px;
    margin-bottom: 5px;
    margin-top: -3vh;
  }

  .header ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  #top_button a {
    font-size: 25px;
    font-family: "oswald", sans-serif;
    text-decoration: none;
    position: absolute;
    color: black;
    margin-left: 45%;
    background-color: yellow;
    border-radius: 15%;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 20px;
  }

  * {
    text-decoration: none;
  }

  #content {
    padding-top: 100px;
  }

  #start_title {
    margin-left: 50px;
    border-bottom: 1px solid black;
    width: 55%;
  }

  #start img {
    margin-top: 50px;
    height: auto;
    width: 90%;
    margin-left: 4%;
  }

  h1 {
    font-family: oswald;
  }

  #popular_opinion_title {
    margin-left: 50px;
    margin-top: 50px;
    border-right: 1px solid black;
    width: 19%;
    height: 100px;
  }

  #popular_opinion_text {
    text-indent: 45px;
    margin-right: 620px;
  }

  #popular_opinion img {
    height: auto;
    width: 15%;
    float: right;
    border-radius: 10px;
    margin-top: -200px;
    margin-right: 190px;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #popular_opinion_text {
    margin-left: 50px;
    margin-top: 50px;
  }

  #theory_title {
    margin-left: 50px;
    margin-top: 50px;
  }

  #theory_text {
    margin-left: 50px;
    text-indent: 45px;
    margin-top: 50px;
    margin-right: 450px;
  }

  #theory_img {
    float: right;
    margin-top: -350px;
    height: auto;
    margin-right: 150px;
  }

  #possible img {
    float: right;
    border-radius: 10px;
    height: auto;
    width: 20%;
    margin-top: -400px;
    margin-right: 30px;
  }

  #possible {
    margin-left: 50px;
    margin-top: 50px;
  }

  #possible_text {
    text-indent: 45px;
    margin-top: 50px;
  }

  .footer {
    background-color: black;
    margin-top: 10vh;
    height: 100px;
  }

  .footer ul {
    text-align: center;
  }

  .footer ul li {
    display: inline-flex;
    color: white;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: cursive;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .footer ul li a {
    text-decoration: none;
    color: white;
  }

  #footer_logo {
    transform: translateY(25%);
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
  }

  .header {
    background-color: black;
    height: 45px;
    width: 1024px;
    max-width: inherit;
    position: fixed;
  }

  .header ul {
  }

  .header ul li {
    display: inline-flex;
  }

  .header ul li a {
    color: white;
    text-decoration: none;
    margin-right: 2.4vw;
    margin-left: 2.4vw;
    font-size: 17px;
    font-family: "oswald";
    margin-top: 10px;
    text-align: center;
  }

  #header_logo {
    position: absolute;
    height: 43px;
    width: 43px;
    margin-left: -20px;
    bottom: 1px;
  }

  .header ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  .footer {
    background-color: black;
    margin-top: 100px;
    height: 80px;
  }

  .footer ul {
    text-align: center;
  }

  .footer ul li {
    display: inline-flex;
    color: white;
    justify-content: space-between;
    font-family: cursive;
    font-size: 1vw;
    margin-bottom: 20px;
  }

  .footer ul li a {
    text-decoration: none;
    color: white;
  }

  #footer_logo {
    transform: translateY(25%);
    height: 50px;
    width: 50px;
  }

  #top_button {
    width: 20%;
    margin-top: 8vw;
  }

  #top_button a {
    color: black;
    font-size: 3vw;
  }

  #start h1 {
    width: 5000000000000%;
  }

  #theory p {
    margin-right: -15vw;
  }
}
